
<h2 mat-dialog-title>Add a currency</h2>
<form mat-dialog-content (ngSubmit)="onSubmit(form.valid,currency)" #form="ngForm" class="form">
  <div class="form-group">
    <mat-form-field class="full-width">
      <input matInput 
        placeholder="Name" 
        [(ngModel)]="currency.name"
        name="name"
        minlength="3"
        maxlength="50"
        required>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width" hintLabel="Max 4 characters">
      <input matInput 
        placeholder="Short Name"
        type="text" 
        [(ngModel)]="currency.shortName"
        name="shortName"
        minlength="1"
        maxlength="4"
        required>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width">
      <mat-select 
        placeholder="Currency type" 
        [(ngModel)]="currency.type"
        name="type"
        required>
        <mat-option *ngFor="let type of currencyType" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width" >
      <input matInput 
        placeholder="Website URL" 
        pattern="https?://.+" 
        [(ngModel)]="currency.website" 
        name="website"
        minlength="8"
        maxlength="50">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button 
      mat-button class="btn btn-success"
      [disabled]="form.invalid" 
      cdkFocusInitial>
       Submit
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</form>