:host{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

:host form{
    display: flex;
    flex-direction: column;
    flex: 1;
}

:host .mat-dialog-actions{
    display: flex;
    justify-content: space-around;  
    min-width: 80%;
    align-self: center;
}
