
<h2 mat-dialog-title>Add a currency</h2>
<form 
  mat-dialog-content
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <input matInput 
      placeholder="Name" 
      formControlName="name">
      <mat-error *ngIf="form.get('name').hasError('required')">Mandatory field</mat-error>
      <mat-error *ngIf="form.get('name').hasError('minlength')">Min 3 characters</mat-error>
      <mat-error *ngIf="form.get('name').hasError('maxlength')">Max 50 characters</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" hintLabel="Max 4 characters">
    <input matInput 
      appCurrencyShortName
      placeholder="Short Name"
      formControlName="shortName">
      <mat-error *ngIf="form.get('shortName').hasError('required')">Mandatory field</mat-error>
      <mat-error *ngIf="form.get('shortName').hasError('maxlength')">Max 4 characters</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select 
      placeholder="Currency type"
      formControlName="type">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let type of currencyType" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('type').hasError('required')">Choose a currency type</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" >
    <input matInput 
      placeholder="Website URL" 
      pattern="https?://.+"
      formControlName="website">
  </mat-form-field>
  <div mat-dialog-actions>
    <button 
      mat-button class="btn btn-success"
      [disabled]="form.invalid" 
      cdkFocusInitial>
       Submit
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>
</form>