<!-- goals is to transform it in table to present X value per pages-->

<app-global-currency-table [currencyList]="currencies" class="currencyTable"><h2>Currency List</h2></app-global-currency-table>

<div class="buttonRow">
  <button mat-stroked-button color="primary" (click)="OnClickAddCurrency()">Add Currency</button>
  <button mat-stroked-button color="primary" (click)="OnClickAddCurrencyValue()">Add Currency Value</button>
</div>

<app-global-currency-table [currencyList]="currencies"><h2>Waiting for validation currencies</h2></app-global-currency-table>


